Project_Cartographer.VC.db
Project_Cartographer.VC.VC.opendb
Project_Cartographer.vcxproj.user
*.exp
*.obj
*.tlog
*.ilk
*.log
*.sdf
*.rar
*.log
*.idb
*.java
!xlive/libprotobuf.lib
!xlive/libMinHook.x86.lib
*.suo
*.opendb
*.db
xlive.ilk
xliveless.aps
xliveless.opensdf
xliveless.v12.suo
**/.vs
**/.vscode
/Directx SDK/include
/Halo2
/xlive/Debug
/xlive/Release
*.opensdf
*.user
*.ipch
version_git.h

JSON/

xlive/version_git.h
