*.exp
*.obj
*.tlog
*.ilk
*.log
*.sdf
*.rar
*.log
*.idb
*.java
*.suo
*.opendb
*.db
xlive.ilk
**/.vs
**/.vscode
/Directx SDK/include
/Halo2
/Halo2Server
/objects
*.user
*.ipch
*.pso
version_git.h

xlive/version_git.h
xlive/3rdparty/imgui/lib
xlive/3rdparty/imgui/objects
xlive/3rdparty/spdlog/lib
xlive/3rdparty/spdlog/objects
xlive/3rdparty/tinyxml/lib
xlive/3rdparty/tinyxml/objects
xlive/3rdparty/zlib/lib
xlive/3rdparty/zlib/objects
