*.exp
*.obj
*.tlog
*.ilk
*.log
*.pdb
*.sdf
*.rar
*.dll
*.log
*.pdb
*.idb
*.java
*.lib
!xlive/libprotobuf.lib
*.suo
*.opendb
*.db
/GSSecurity.cpp
/.vs/Project_Cartographer/v15
/Directx SDK/include
UpgradeLog.htm
xliveless.opensdf
version.txt
xliveless.aps
xlive/Debug/**